* {
  font-family: "Share Tech Mono", monospace;
}
* .title #horizontal {
  padding: 10px;
}
* .title #vertical {
  padding: 10px;
}
* textarea {
  font-size: 20px;
  color: white;
}
* button {
  font-size: 15px;
  color: #1538b2;
}
* label {
  font-size: 15px;
}

@media screen and (max-width: 479px) {
  .title {
    font-size: 8vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title #horizontal {
    color: white;
  }
  .title #vertical {
    color: #ff78c9;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .title {
    font-size: 5vw;
    position: absolute;
    top: 0;
    left: 0;
  }
  .title #horizontal {
    color: white;
  }
  .title #vertical {
    color: #ff78c9;
  }
}
@media screen and (min-width: 768px) and (max-width: 990px) {
  .title #horizontal {
    width: 90vw;
    font-size: 5vw;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
  }
  .title #vertical {
    font-size: 8vw;
    position: fixed;
    right: 0;
    top: 0;
    writing-mode: vertical-rl;
    color: #ff78c9;
  }
}
@media screen and (min-width: 991px) {
  .title #horizontal {
    width: 90vw;
    font-size: 5vw;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
  }
  .title #vertical {
    font-size: 8vw;
    position: fixed;
    right: 0;
    top: 0;
    writing-mode: vertical-rl;
    color: #ff78c9;
  }
}