@import './_variables';

* {
    font-family: 'Share Tech Mono', monospace;

    .title {
        #horizontal {
            padding: 10px;
        }

        #vertical {
            padding: 10px;
        }
    }
    
    textarea {
        font-size: 20px;
        color: $secondaryColor;
    }

    button {
        font-size: 15px;
        color: $mainColor;
    }

    label {
        font-size: 15px;
    }
};

@media screen and (max-width:479px) {
    .title {
        font-size: 8vw;
        position: absolute;
        top: 0;
        left: 0;

        #horizontal {
            color: $secondaryColor;
        }

        #vertical {
            color: $highlightColor;
        }
    }
    
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .title {
        font-size: 5vw;
        position: absolute;
        top: 0;
        left: 0;

        #horizontal {
            color: $secondaryColor;
        }

        #vertical {
            color: $highlightColor;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 990px) {
    .title {

        #horizontal {
            width: 90vw;
            font-size: 5vw;
            position: absolute;
            top: 0;
            left: 0;
            color: $secondaryColor;
        }

        #vertical {
            font-size: 8vw;
            position: fixed;
            right: 0;
            top: 0;
            writing-mode: vertical-rl;
            color: $highlightColor;
        }
    }
}


@media screen and (min-width: 991px) {
    .title {
        #horizontal {
            width: 90vw;
            font-size: 5vw;
            position: absolute;
            left: 0;
            top: 0;
            color: $secondaryColor;
        }

        #vertical {
            font-size: 8vw;
            position: fixed;
            right: 0;
            top: 0;
            writing-mode: vertical-rl;
            color: $highlightColor;
        }
    }
}